:root {
  --green-field: #32CD32;  
  --red-field: #FF4500;  
  --yellow-field: #EEEE00;  
  --blue-field: #0000FF;  
  --red-gameOver: #8B0000;
}

body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: var(--red-gameOver);
  opacity: 0.8;
}

.red {
  background-color: var(--red-field);
}

.green {
  background-color: var(--green-field);
}

.blue {
  background-color: var(--blue-field);
}

.yellow {
  background-color: var(--yellow-field);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
